.site-header-container{
  background-color:#3f7bbf;
  /* padding: 50px; */
  /* padding-left:250px; */
  /* padding-right:0px; */
  padding-bottom: 95px;
  margin-top: -20px;
  margin-bottom: 1px;
  height: 57px;
  margin-bottom: 10erm;
  width: 100%;
  /*border: 3px solid;*/
}

.Article.One:first-child {
  background:#F1C40F;
}

.btn {
  width: 27%;
  height: 62%;
  /* justify-content: center; */
  padding-left: -9px;
  padding-right: -11px;
  /* padding-top:0px; */
  padding-bottom:30ps;
  border: 1px solid;
}

.Nav-bar {
  /* float: right; */
  justify-content: center;
  align-items: center;
  width: 100%;
  /*border: 3px solid;*/
  height: 96px;
  /*background-color: yellow;*/
  margin-bottom: 0%;
  display: flex;
  flex-direction: column;
}

.btn:hover,
.btn:focus {
  background: #F4D03F;
}

.MainTitle{
  background-color:#3f7bbf;
  border-color:black;
  /*padding: 50px;
  padding-left:150px;
  padding-right:0px;
  padding-bottom:120px;
  margin-top:0px;
  margin-bottom:0px;
  height: 10px;
  /*width: 100%;*/
}

h1{
  text-align: center;
  padding-top: 7%;
}

.MainPage {
  background-color: #01ffff;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top:30px;
  width: 100%;
}

.FooterBlock {
  width: 100px;
  height: 114px;
  margin-top: 0px;
  background-color: #3F7BBF;
  /*border: 3px solid;*/
}

img {
  min-width: 150px;
  min-height: 150px;
  max-width: 150px; 
  max-height:150px;
  padding-left: 0px;
}

h4 {
  margin-left: 19%;
}
.MainFlexbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  /*border: 3px solid;*/
  /*padding-left:;*/
}

.Content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  /*border: 3px solid;*/
  padding-left: 0px;
}

.Sidebar {
  background-color: palevioletred;
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  width: 100%;
  height: 495px;
  /* margin: auto; */
  /*border: 3px solid;*/
  padding-left: 2%;
}

.Article {
  display: flex;
  flex-direction: column;
  width: 100%;
  /*border: 3px solid;*/
  margin-bottom: 0%;
  /*border: 3px solid;*/
  padding-left: 2%;
  padding-right: 2%;
  height: 505px;
}


.FooterBlock {
  width: 103%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {

.Content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.column-R {
  display: flex;
  height: 14px;
  padding-bottom: 78%;
  float: right;
  /* border: 3px solid; */
  width: 100%;
}

.column-l {
  float: left;
  display: flex;
  /* border: 3px solid; */
  width: 100%;
  padding-bottom: 16%;
  height: 36%;
}

.FooterBlock {
  width: 103%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 140px;
}

.Sidebar {
  background-color: palevioletred;
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  width: 100%;
  height: 255px;
  /* margin: auto; */
  /*border: 3px solid;*/
  padding-left: 2%;
}

h4 {
  padding-left: -8%;
}

/*@media screen and (min-width: 900px) 
  .Nav-bar {
    display: flex;
    flex-direction: row;
  }

  .btn {
    height: 59%;
  }

  .MainFlexbox {
    display: flex;
    flex-direction: row;
    width: 452%;
    padding-bottom: 2%;
  }
 
 .Content {
   display: flex;
   flex-direction: column;
   width: 16%;
   height: 1311px;
 }

 .Sidebar {
   display: flex;
   flex-direction: column;
   width: 230px;
   /* border: solid; */
   /*height: 11%;
   padding-left: 10px;
   padding-right: 5px;
   align-items: center;
   align-content: center;
 }

.Article.column-R {
  width: 49%;
}


.Article.column-l {
  width: 49%;
}

/*h4 {*/
  /* border: solid; 
  margin-left: 30%;
/*}*/


@media screen and (min-width: 1020px) {
  .MainFlexbox {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

.Content {
  width: 77%;
  display: flex;
  flex-direction: row;
}

.Nav-bar {
  display: flex;
  flex-direction: row;
  height: -1%;
  /* border: solid; */
}
.Article.column-l {
  width: 49%;
}

.Article.column-R {
  height: 40%;
}

.Sidebar {
  width: 21%;
  height: 20%;
  padding-right: 1%;
}

}


/*This applies from 0px to 600px
@media screen and (min-width:320px) {
body {
  background: red;
}
}

/This applies from 600px onwards
@media screen and (min-width: 600px) {
  body {
    background: green;
  }
}


 

.Sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.FooterBlock {
  display: flex;
  width: 102%;
}

.site-header {
  display: flex;
  width: 100%;
  border: 3px solid black;
}

/*@media screen and (min-width: 670px) {}*/
