.site-header container{
  background-color:#3f7bbf;
  padding: 50px;
  padding-left:250px;
  padding-right:0px;
  padding-bottom:80px;
  margin-top:0px;
  margin-bottom:0px;
  height: 10px;
  width: auto;
}

.Article.One:first-child {
  background:#F1C40F;
}

.btn {
  padding-left: 30px;
  padding-right:30px;
  padding-top:0px;
  padding-bottom:30ps;  
}

.button-container {
  float: right;  
  padding-right: 70px;
  padding-top: 30px;
}

.btn:hover,
.btn:focus {
  background: #F4D03F;
}

.MainTitle{
  background-color:#3f7bbf;
  border-color:black;
  padding: 50px;
  padding-left:150px;
  padding-right:0px;
  padding-bottom:120px;
  margin-top:0px;
  margin-bottom:0px;
  height: 10px;
  width: auto;
}

h1{
  display: inline-block;
}

.MainPage {
  background-color: #01ffff;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top:30px;
}

.FooterBlock {    
  padding: 50px;
  margin:0px;
  padding-left: 250px;
  padding-right:0px;
  background-color:#3f7bbf;
}

img {
  min-width: 150px;
  min-height: 150px;
  max-width: 150px; 
  max-height:150px;
  padding-left: 0px;
}

.MainFlexbox {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Content {
  display: block;
  flex-direction: column;
  width: 1000px;
  height: 1000px;
  align-content: space-between;
}

.Sidebar {
  display: flex;
  flex-direction: column;
  background-color: palevioletred;
  padding-left: 10px;
  padding-right: 10px;
  width: 400px;
}

.Article {
  display: flex;
  flex-direction: column;
  width: 333px;
  max-height:480px;
  padding-left: 5px;
  padding-left: 20px;
}

.One.Two.Three {
  display: flex;
  flex-direction: row;
}

.TopRowArticle {
  display: flex;
  flex-direction: row;
  width: 1000px;
  max-height:500px;
}

.BottomRowArticle {
  display: flex;
  flex-direction: row;
  width: 1000px;
  max-height:500px;
}



@media screen and (min-width: 400px) {

  .Content {
    display: flex;
    flex-direction: column;
    max-width: 24em;
    max-height: 63em;
    align-content: center;
    margin-bottom: -53px;
    padding-bottom: 22em;
    padding-top: -11px;
}

  h1{
    display: inline-block;
    margin-top: -1px;
  }
    
  .Sidebar {
    display: flex;
    flex-direction: column;
    background-color: palevioletred;
    padding-left: 1em;
    padding-right: 1em;
    width: 25em;
    /* height: 0px; */
    margin-top: 61rem;
    margin-bottom: 0rem;
    margin-left: -24em;
    margin-right: -1em;
    padding-bottom: -4em;
    padding-bottom: -31em;
    padding-top: 0px;
  }

  .FooterBlock {
  padding: 50px;
  margin-left: 0em;
  margin-top: 0em;
  margin-right: -1em;
  padding-left: 4em;
  padding-right:0px;
  background-color:#3f7bbf;
}

h4 {
  
}
}