.site-header container{
  background-color:#3f7bbf;
  padding: 50px;
  padding-left:250px;
  padding-right:0px;
  padding-bottom:80px;
  margin-top:0px;
  margin-bottom:0px;
  height: 10px;
  width: auto;
}

.Article.One:first-child {
      background:#F1C40F  ;
}

.btn {
  padding-left: 30px;
  padding-right:30px;
  padding-top:0px;
  padding-bottom:30ps;  
}

.button-container {
  float: right;  
  padding-right: 70px;
  padding-top: 30px;
  /*padding-left: 380px;*/
}

.btn:hover,
.btn:focus {
    background: #F4D03F;
}


.MainTitle{
  background-color:#3f7bbf;
  border-color:black;
  padding: 50px;
  padding-left:150px;
  padding-right:0px;
  padding-bottom:120px;
  margin-top:0px;
  margin-bottom:0px;
  height: 10px;
  width: auto;
}

h1{
  display: inline-block;
}


.MainPage {
  background-color: #01ffff;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top:30px;
}

.FooterBlock{    
  padding: 50px;
  margin:0px;
  padding-left: 250px;
  padding-right:0px;
  background-color:#3f7bbf;
}

footer {
  padding-right:auto;
  width: 100%;
  height: 30%;
}

img {
    min-width: 200px;
    min-height: 200px;
    max-width: 200px; 
    max-height:200px;
    padding-left: 0px;
}


.MainFlexbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  
  
}

.Content {
  display: block;
  flex-direction: row;
  border: 3px solid black;
  width: 1000px;
  height: 1000px;
  align-content: space-between;
}


.Sidebar {
  display: flex;
  flex-direction: column;
  background-color: palevioletred;
  border: 3px solid gold;
  width: 400px;
}

.Article {
  display: flex;
  flex-direction: column;
  width: 333px;
  max-height:500px;

}

.One.Two.Three {
  display: flex;
  flex-direction: row;
}



.TopRowArticle {
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 500px;
}




.BottomRowArticle {
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 500px;
}

